---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "My Astro Homepage";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to My Astro Blog</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
